%li
	%span.content= RedCloth.new(micropost.content).to_html.html_safe
	%span.picture=  image_tag micropost.pic.url(:medium) unless micropost.pic.url == "empty"
	%span.timestamp= time_ago_in_words(micropost.created_at)
	- if current_user?(micropost.user)
		= link_to "delete", micropost, method: :delete, data: { confirm: "You sure?" }, title: micropost.content
	-if micropost.comments.any?
		.comments_counter 
			Comments (#{micropost.comments.count})
		%button.btn{:id => "showr" + micropost.id.to_s} Show
		%button.btn{:id => "hider" + micropost.id.to_s} Hide
		%button#comment_new.btn.btn-primary New
		-
		%ol.comments
			- micropost.comments.each do |comment|
				= render '/comments/comment', object: comment
:javascript
	$("#showr#{micropost.id}").click( function () {
		$("##{micropost.id}").first().show(100, function showNext() {
			$(this).next(".comment##{micropost.id}").show(100, showNext);
		});
	});

	$("#hider#{micropost.id}").click(function () {
		$("##{micropost.id}").first().hide(100, function hideNext() {
			$(this).next(".comment##{micropost.id}").hide(100, hideNext);
		});
	});


